spring:
  application:
    name: plazoleta-ms-usuarios

  datasource:
    #url: jdbc:postgresql://localhost:5432/nombreBd
    #username: usuarioBd
    #password: passBd
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

jwt:
  secret: 12345678901234567890123456789012
  expiration-seconds: 3600